# Node.js
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Cypress artifacts
cypress/screenshots/
cypress/videos/

# VSCode settings
.vscode/

# Logs
*.log

# Env files
.env